.title {
  margin: 0px;
  font-size: 16px;
}
.default-button {
  background-color: #388e3c;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
}

.default-button.secondary-button {
  background-color: transparent !important;
  color: #388e3c !important;
  border: 2px solid #388e3c;
}

.default-button:active {
  transform: translateY(1px);
  filter: saturate(150%);
  background-color: #388e3c !important;
  color: white !important;
}

.update-default-auto-deletion-input {
  outline: 0;
  border-width: 0 0 2px;
  margin-top: 5px;
  margin-right: 5px;
}

.auto-delete-button-wrapper {
  position: relative;
}

.updated-tooltip {
  position: absolute;
  color: white;
  z-index: 1;
  top: -35px;
  width: 300px;
  background-color: #777;
  padding: 1px 5px;
  border-radius: 5px;
  left: 0px;
  transform: translateX(calc(-100% + 15px));
}

.header-button {
  font-size: 10px;
  font-weight: 500;
  color: #333;
  font-weight: 600;
}

.header-button:focus {
  outline: none;
}

.headerIcon {
  color: #333;
  font-size: 6px;
  margin-left: 3px;
}

.header-element {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.close-all-button {
  position: relative;
}

.close-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 100% !important;
  visibility: hidden;
}

.close-button:hover {
  color: rgb(0, 180, 204) !important;
  background: #aaa;
  visibility: visible;
  /* border-radius: 50%; */
}

.close-tab-icon {
  font-size: 14px !important;
}

.more-vert-button {
  color: #777;
  cursor: pointer;
  width: 2.5%;
  position: absolute;
  right: 15px;
}

.more-vert-button:hover {
  font-weight: 700;
  color: black !important;
}

.more-vert-tab-icon {
  font-size: 18px !important;
}

.tab-info-wrapper {
  width: calc(100% - 50px);
  min-width: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: #ffffff;
  padding: 3px 15px;
  position: relative;
}

.tab-info-wrapper:hover {
  border: 1px solid rgb(0, 180, 204);
  box-shadow: 0 0 0 1px rgb(0, 180, 204) inset;
}

.focused-tab-info-wrapper-no-hover .tab-info-wrapper {
  box-shadow: 0 0 0 0px rgb(0, 180, 204) inset !important;
}

.tab-info-wrapper:hover {
  cursor: pointer;
}

.close-all-icon {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 10px;
  font-size: 13px !important;
}

/*tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;

  width: 130px;
  padding: 10px;

  background: #333;
  color: white;

  position: absolute;
  left: -140px;

  border-radius: 9px;
  font: 16px;

  box-shadow: 0 0 2px rgba(56, 54, 54, 0.86);
}

.close-all-button:hover .tooltip {
  visibility: visible;
}

.site-link {
  font-size: 12px;
  font-weight: 500;
  color: #333;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.info-chip {
  display: none;
  align-items: center;
  margin: 0px 5px;
  padding: 0px 14px 0px 30px;
  background-color: #3dc6d8;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  position: relative;
}

.chips-left-circle {
  position: absolute;
  background-color: #388e3c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.open-tabs-wrapper {
  position: absolute;
  background-color: #388e3c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -35px;
  border-radius: 50%;
  height: 30px;
  top: -3px;
  width: 30px;
}

.chips-left-circle-text {
  font-size: 11px;
  color: white;
  font-weight: 600;
}

.info-chip-text {
  font-size: 10px;
  font-weight: 500;
  color: white;
  font-weight: 600;
  right: 8px;
  position: relative;
}

.title-header-wrapper {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.beta-badge {
  position: absolute;
  top: 10px;
  right: -25px;
}

.chips-header-wrapper {
  display: flex;
}

.left-elements-wrapper {
  display: flex;
  align-items: center;
}

.popup-menu-icon {
  position: absolute;
  right: -2px;
  color: #333;
  cursor: pointer;
  font-size: 9px;
  font-size: 20px !important;
}

.popup-menu {
  z-index: 2;
  display: none;
  position: absolute;
  top: 35px;
  right: 2px;
  right: -120px;
  width: 150px;
  border-radius: 10px;
  background: white;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.popup-menu-item {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.popup-menu-item:hover {
  padding: 10px;
  background-color: #dae1ec;
}

.popup-menu-item-text {
  font-size: 12px;
  color: black;
  font-weight: 500;
}

.highlight-duplicated-chip-popup-open {
  border: 2px solid rgb(0, 180, 204);
  top: -2px;
}

.highlighted-duplicated-tabs {
  border: 2px solid rgb(0, 180, 204);
  top: -3px;
}

.tab-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.tab-wrapper:hover .close-button {
  visibility: visible;
}

.url-title-text {
  font-size: 11px;
  font-weight: 500;
  color: #333;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.updated-ago-text {
  font-size: 8px;
  font-weight: 500;
  color: #757b86;
  font-weight: 700;
  margin-top: 3px;
}

.header-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle-theme-text {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 5px;
  text-align: center;
}

.toggle-theme-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toggle_theme_icon {
  font-size: 25px;
  color: #333;
  cursor: pointer;
}

#donate-text {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  position: relative;
}

.donate-wrapper {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
  left: 5px;
  margin: 0px 20px;
  display: none;
}

#donate_theme_icon {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

#suggestions-text {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  position: relative;
}

.suggestions-wrapper {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#suggestions_theme_icon {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

#donate_and_theme_wrapper {
  display: flex;
  align-items: center;
  width: 65%;
  margin-top: 7px;
  justify-content: end;
}

.header-child {
  width: calc(100% - 15px);
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 5px 0px;
  align-items: center;
}

.horizontal-dots-wrapper {
  position: absolute;
  height: 10px;
  top: calc(50% - 9px);
  left: -20px;
  color: white;
  top: 5px;
  font-weight: 700;
}

.vertical-dots-wrapper {
  position: absolute;
  writing-mode: vertical-lr;
  top: calc(100% + 5px);
  left: 20px;
  overflow: hidden;
  color: white;
  font-weight: 700;
}

.no-margin {
  margin: 0px !important;
}

div.title-header-wrapper:active > span {
    color: #3dc6d8 !important;
}